<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ja</string>
    <key>CFBundleDisplayName</key>
    <string>SnipIME</string>
    <key>CFBundleExecutable</key>
    <string>SnipIME</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>im.manus.inputmethod.snipime</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SnipIME</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>InputMethodConnectionName</key>
    <string>SnipIME_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>SnipIMEInputController</string>
    <key>TISInputSourceID</key>
    <string>im.manus.inputmethod.snipime</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Latn</string>
        <string>Jpan</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>AppIcon.icns</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>im.manus.inputmethod.snipime.mode.snippets</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>im.manus.inputmethod.snipime.mode.snippets</string>
                <key>TISIntendedLanguage</key>
                <string>en</string>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
